* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

html {
  background-color: #2a343d;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: auto;
  background-color: #b30000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: auto;
}

.formulario {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  width: 500px;
  min-width: 400px;
  max-width: 500px;
  max-height: 450px;
  margin: 2rem;
  padding: 1rem;
}

.formulario .labelInput {
  display: flex;
  flex: 1;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.formulario .labelInput label {
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.formulario .labelInput input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
  outline: none;
  color: #333;
}

.formulario .labelInput textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
  outline: none;
  color: #333;
}

.formulario .labelInput input[type="submit"] {
  width: 80%;
  padding: 0.5rem;
  margin:auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  background-color: #163c17;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.formulario .labelInput input[type="submit"]:hover {
  background-color: #29722b;
}

.ativo {
  background-color: #4caf50;
}

.solicitacoes {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  height: auto;
}

.card {
  max-width: 200px;
  margin: 2rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.solicitacao {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  height: auto;
  background-color: #161d34;
  color: #fff;
  border-radius: 15px;
  margin: auto 10px;
}

.button-aceite {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 5px;
  border: none;
  border-radius: 15px;
  background-color: #157347;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-aceite:hover {
  background-color: #198754;
}

.button-aceite:focus {
  outline: none;
}

.button-delete {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 5px;
  border: none;
  border-radius: 15px;
  background-color: #dc3545;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-delete:hover {
  background-color: #bb2d3d;
}

.button-delete:focus {
  outline: none;
}

.desenvolvedores {
  display:flex;
  justify-content: space-around;
}

.desenvolvedor {
  width: 100%;
  max-width: 800px;
  flex: 1;
  margin: 10px auto;
  padding: 10px;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.sol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  gap: 10px;
  padding: 10px;
  margin: 20px auto;
}

.chamados {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  height: auto;
  width: 100%;
  min-width: 300px;
  max-width: 301px;
  gap: 2px;
}